*/__pycache__/*
ReinforcementLearning/model_keras.json
ReinforcementLearning/tmp_notebook/*
ReinforcementLearning/models/*
*.DS_Store
.ipynb_checkpoints/
CloudComputing/model/*
CloudComputing/results/*
CloudComputing/data/*
*_brendan*
NatualLangageProcessing/data/
NatualLangageProcessing/solution/__pycache__/*
RecomendationSystem/ml-25/*
slides/images/*
slides/2*
