*/__pycache__/*
ReinforcementLearning/model_keras.json
ReinforcementLearning/tmp_notebook/*
ReinforcementLearning/models/*
*.DS_Store
.ipynb_checkpoints/
CloudComputing/model/*
CloudComputing/results/*
CloudComputing/data/sample_2/*
CloudComputing/script/learning_brendan.py
CloudComputing/script/prediction_brendan.py

