*/__pycache__/*
IntroductionDeepReinforcementLearning/model_keras.json
IntroductionDeepReinforcementLearning/tmp_notebook/*
IntroductionDeepReinforcementLearning/models/*
IntroductionDeepReinforcementLearning/RLclass/
*.DS_Store
.ipynb_checkpoints/
CodeDevelopment/model/*
CodeDevelopment/results/*
CodeDevelopment/data/*
*_brendan*
Text/solution/__pycache__/*
Text/data/glove/
Text/data/fr/
Text/data/features/
Text/data/vect_model/
Text/data/w2v_model/
Text/data/vec_*
Text/data/Categorie_original.zip
Text/data/cdiscount_train_glove
Text/data/generate_model.h5
Text/data/metadata/metadata_2bis_backup.pkl
Text/data/metadata/metadata_lr.pkl
Text/data/metadata/metadata_mlp.pkl
Text/data/metadata/metadata_rf.pkl
RecomendationSystem/ml-25/*
slides/images/*
slides/2019_2020/*
video/*
