tensorflow==2.5.2
pandas==1.0.5
numpy==1.19.2
nltk==3.5
plotly==4.12.0
scikit-learn==0.23.1
matplotlib==3.3.2
seaborn==0.10.1
BeautifulSoup4==4.9.1
wordcloud
jupyterlab==2.2.10
gensim==3.8.3
ipywidgets>=7.5
gdown==4.0.2
box2d-py==2.3.8
gym[atari]==0.17.3
gym[box2d]==0.17.3
scikit-surprise==1.1.1
